# Auto detect text files and perform LF normalization
* text=auto

# Matching files extension
*/*/My?Project/*.vb linguist-generated
Assets/TextMesh?Pro/* linguist-vendored
*.ShaderLab linguist-detectable=false
