# Auto detect text files and perform LF normalization
* text=auto

# Matching files extension
*.cs linguist-language=C#
*.shader linguist-language=ShaderLab
*/*/Realm-Rush/*.vb linguist-generated
Assets/TextMesh?Pro/* linguist-vendored
*.ShaderLab linguist-detectable=false
